@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

* {
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #f1f5f5;
}

header {
    background-color: #45CBB2;
    width: 100%;
    box-shadow: 1px 1px 10px 1px #00000052;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20px;
}

.cabecalho a {
    color: white;
    font-weight: 500;
    margin: 10px;
}

.cabecalho a:hover {
    color: #483434;
    text-decoration: underline;
}

.tamlogo {
    width: 240px;
    height: 138px;
}

.barrapesquisa {
    display: flex;
    justify-content: center;
}

.barrapesquisa input {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.barrapesquisa button {
    width: 25%;
    padding: 5px 10px;
    background-color: #5c7acc;
    color: white;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
}

.barrapesquisa button:hover {
    background-color: #3D087B;
}

.cadastro {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav li {
    display: inline-block;
    font-size: 20px;
}

.dropbtn {
    background-color: #5c7acc;
    color: white;
    padding: 16px 100px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 5px 5px 0px 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 296.475px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
      background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3D087B;
}

.navegacao {
    color: white;
    text-decoration: none;
    padding: 10px;
    gap: 10px;    
}

.listadeproduto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto { 
    background-color: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 10px #0000002d;
    border-radius: 5px;
}

.produto img {
    display: block;
    width: 235px;
    height: 196px;
}

main>h1 {
    color: #483434;
    margin-left: 20px;
    margin-top: 20px;
}

.produto h3 {
    color: #483434;
    font-weight: 400;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.produto h2 {
    color: #483434;
    font-weight: 500;
    font-size: 30px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.produto:hover {
    text-decoration: underline;
}

footer {
    color: #483434;
    background-color: #45CBB2;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    
    .tamlogo {
        width: 150px;
        height: 86px;
    }

    .dropbtn {
        padding: 0.9em;
        font-size: 0.9em;
    }
    
    .produto img {
        width: 117px;
        height: 98px;
    }
    }

@media only screen and (max-width: 520px) {
    
    .barrapesquisa {
        margin-bottom: 10px;
    }

    .produto {
        display: flex;
        flex-direction: row;   
    }      
    }
        



